
<%= render @club %>

<strong>Members:</strong>

<ul>
  <% @club.users.each do |user| %>
    <li> <%= link_to user.username, user %> </li>
  <% end %>
</ul>

<% if current_user and !current_user.clubs.include? @club  %>

<%= form_with(model: @membership) do |form| %>
  <%= form.hidden_field :club_id, value: @club.id %>
  <%= form.hidden_field :user_id, value: current_user.id %>
  <%= form.submit "Join the beer club", class:"btn btn-primary" %>
<% end %>

<% end %>

<% if current_user and current_user.clubs.include? @club  %>

<%= button_to 'End the membership', membership_path(club: @club.id, user: current_user.id), method: :delete, form: { style: 'display:inline-block;',  data: { 'turbo-confirm': 'Are you sure?' } }, class:"btn btn-danger" %>

<% end %>

<div>
  <%= edit_and_destroy_buttons(@club) %>
  <br>
  <%= link_to "Back to clubs", clubs_path, class:"btn btn-primary" %>
</div>
