
<%= render @brewery %>

<% if @brewery.ratings.empty? %>
  <p>Brewery has not yet been rated!</p>
<% else %>
  <p>Brewery has <%=pluralize(@brewery.ratings.count, 'rating')%> with average of <%= @brewery.average_rating %></p>
<% end %>

<div>
  <%= edit_and_destroy_buttons(@brewery) %>
  <br>
  <%= link_to "Back to breweries", breweries_path, class:"btn btn-primary" %>
</div>
