
<h1>Beers</h1>

<table class="table">
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Style</th>
      <th scope="col">Brewery</th>
      <th scope="col">Rating</th>
    </tr>
  </thead>
  <tbody>
    <% @beers.each do |beer| %>
    <tr>
      <td><%= link_to beer.name, beer %></td>
      <td><%= link_to beer.style.name, beer.style %></td>
      <td><%= link_to beer.brewery.name, beer.brewery %></td>
      <td><%= round(beer.average_rating) %></td>
    </tr>
    <% end %>
  </tbody>
</table>

<%= link_to "New beer", new_beer_path, class:"btn btn-primary" if current_user %>
<br>
<%= link_to 'List of breweries', breweries_path %>
